.container-fluid {
  margin-top: 80px;
}
body,
html {
  height: 100%;
}
body {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.panel {
  background-color: black;
  opacity: 0.7;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 25px 25px 40px 0px rgba(0, 0, 0, 0.33);
  color: #fff;
  overflow: hidden;
  position: relative;
}
.panel .small {
  color: inherit;
  font-size: 50%;
}
.panel .temperature > span {
  font-size: 1.7em;
}
.panel #toggleUnits {
  margin-top: 94px;
}
.panel #weather {
  float: left;
  margin-top: 29px;
  width: auto;
}
.panel .where {
  float: left;
  width: 19px;
  font-size: 22px;
  margin-top: 4px;
}
.panel #currently {
  float: left;
  width: auto;
}
.panel #iconWeath {
  margin-left: -5px;
  margin-top: -8px;
  font-size: 240%;
}
